export(mcAll)
export(mcAny)
export(mcFilter)
export(mcFind)
export(mcFold)
export(mcOne)
export(mcPartition)
export(mcPosition)
export(mcReduce)
export(mcReject)
export(mcSelect)
export(mcUnzip)
export(mcUnzipWith)
export(mcZip)
export(mcZipWith)
import(parallel)
