export(mcAll)
export(mcAnd)
export(mcAny)
export(mcCompose)
export(mcDivide)
export(mcEqual)
export(mcFilter)
export(mcFind)
export(mcFold)
export(mcLarger)
export(mcMinus)
export(mcMultiply)
export(mcNot)
export(mcNotEqual)
export(mcOne)
export(mcOr)
export(mcPartition)
export(mcPlus)
export(mcPosition)
export(mcReduce)
export(mcReject)
export(mcSelect)
export(mcSleep)
export(mcSmaller)
export(mcUnzip)
export(mcUnzipWith)
export(mcXor)
export(mcZip)
export(mcZipWith)
export("%of%")
import(parallel)
